<div class="container">
    <div class="row">
        <div clss="col-xs-4">
            <h2>{{poll.pollTitle}}</h2>
            <form>
                <div class="form-group">
                    <label for="selection">I'd like to vote for...:</label>
                    <select class="form-control" id="selection" ng-model="selectOption">
                        <option ng-repeat="option in pollOptions" value={{option}}>{{option}}</option>
                    </select>
                </div> 
                <div class="form-group">
                    <button class="btn btn-primary" ng-click="submitOption()">Submit</button>
                </div>  
                <div class="form-group" ng-show="isUser">
                    <button class="btn btn-danger" ng-click="deletePoll()">Remove this poll</button>
                </div>
                <a href="#" class="btn" target="_blank"><span></span>Share on Twitter</a>
            </form>
        </div>
        <div class="col-xs-8" class="pieChart">
            <canvas id="doughnut" class="chart chart-doughnut" chart-data="chartData" chart-labels="chartLabels" chart-legend=true></canvas>
        </div>
    </div>
    <div class="pollErrInfo" ng-show="showErr">
        {{errInfo}}
    </div>
</div>